<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manager | Project Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
        }

        h1, h2 {
            font-weight: 600;
            color: #343a40;
        }

        .navbar {
            margin-bottom: 20px;
        }
        .card-form {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
        padding: 2rem;
      }

        .form-control-plaintext {
            background-color: #f8f9fa;
            border: none;
        }

        .status-badge {
            padding: 0.4em 0.7em;
            font-size: 0.85rem;
            border-radius: 0.5rem;
            color: #fcfdfc;
        }

        .status-Concluído {
            background-color: #0a530a;
        }

        .status-Andamento {
            background-color: #ffc107;
        }

        .status-Pendente {
            background-color: #f55d05;
        }

         .status-New {
            background-color: #477ef3;
        }

        .btn-sm img {
            margin-right: 4px;
        }

        .table thead th {
            background-color: #e9ecef;
        }

        .table td, .table th {
            vertical-align: middle;
        }

        .btn-new {
            margin-bottom: 1rem;
        }

        footer {
            padding: 1.5rem 0;
        }
    </style>
</head>
<body>

<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" href="/projects/index">My Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-4">
     <!-- Mensagem de sucesso -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert" th:text="${successMessage}">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="col-md-10 mx-auto card-form">
        <h2 class="text-center mb-4">Project Details</h2>
        <form th:object="${project}">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly th:value="${project.id}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly th:value="${project.nome}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly th:value="${project.descricao}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date Start</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly
                           th:value="${#temporals.format(project.dataInicio, 'dd/MM/yyyy HH:mm')}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date End</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly
                           th:value="${#temporals.format(project.dataFim, 'dd/MM/yyyy HH:mm')}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <span class="status-badge"
                          th:classappend="' status-' + ${project.status}" th:text="${project.status}"></span>
                </div>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Project Tasks</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Response</th>
                    <th scope="col">Date Start / End</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="tarefa : ${tarefas}">
                    <td th:text="${tarefa.titulo}"></td>
                    <td th:text="${tarefa.descricao}"></td>
                    <td>
                        <span class="badge rounded-pill status-badge"
                              th:classappend="' status-' + ${tarefa.status}" th:text="${tarefa.status}"></span>
                    </td>
                    <td th:text="${tarefa.userResponse != null ? tarefa.userResponse.name : 'Não Atribuído'}"></td>
                    <td th:text="${#temporals.format(tarefa.dataInicio, 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(tarefa.dataFim, 'dd/MM/yyyy')}"></td>
                    <td style="white-space: nowrap;">
                        <!-- Botão para abrir o modal detalhes tasks-->
                        <button type="button"
                                class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                th:data-bs-target="'#modalTarefa' + ${tarefa.id}">
                           <img width="20" height="20" src="https://img.icons8.com/fluency/48/pencil-tip.png"
                                 alt="pencil-tip"/>
                        </button>
                        <a th:href="@{/tarefas/atribuir/{id}(id=${tarefa.id})}" class="btn btn-warning btn-sm">
                            <img width="20" height="20" src="https://img.icons8.com/?size=100&id=yFi4egqICrpB&format=png&color=000000"
                                 alt="pencil-tip"/>
                        </a>
                        <form th:action="@{'/tarefas/' + ${tarefa.id} + '/delete'}" method="post">
                            <input type="hidden" name="usuarioId" th:value="${tarefa.userResponse?.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm" th:href="@{/tarefas/delete/{id}(id=${project.id})}" onclick="return confirm('Are you sure you want to delete this task?')">
                                <img width="20" height="20" src="https://img.icons8.com/fluency/48/delete-forever.png" 
                                 alt="delete-forever"/>
                            </button>
                        </form>
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'modalTarefa' + ${tarefa.id}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                         <form th:action="@{'/tarefas/update/' + ${tarefa.id}}" method="post" class="modal-body">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="'Detalhes da Tarefa: ' + ${tarefa.titulo}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" th:value="${tarefa.id}" />

                        <div class="mb-3">
                            <label class="form-label">Título:</label>
                            <input type="text" name="titulo" th:value="${tarefa.titulo}" 
                                class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Descrição:</label>
                            <input type="text" name="descricao" th:value="${tarefa.descricao}" 
                                    class="form-control"/>
                        </div>

                        <div class="mb-3">
                        <label class="form-label">Status:</label>
                        <select name="status" class="form-select">
                            <option th:value="New" th:selected="${tarefa.status == 'New'}">New</option>
                            <option th:value="Pendente" th:selected="${tarefa.status == 'Pendente'}">Pendente</option>
                            <option th:value="Andamento" th:selected="${tarefa.status == 'Andamento'}">Andamento</option>
                            <option th:value="Concluído" th:selected="${tarefa.status == 'Concluído'}">Concluído</option>
                        </select>
                    </div>

                    <div class="mb-3">
                         
                            <label class="form-label">Descrição:</label>
                            <input type="text" name="userResponse" th:value="${tarefa.userResponse != null ? tarefa.userResponse.name : 'Não Atribuído'}" 
                                    class="form-control"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Data Início:</label>
                            <input type="datetime-local" name="dataInicio" 
                            th:value="${#temporals.format(tarefa.dataInicio, 'yyyy-MM-dd''T''HH:mm')}"
                                class="form-control">
                               
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Data Fim:</label>
                            <input type="datetime-local" name="dataFim" 
                            th:value="${#temporals.format(tarefa.dataFim, 'yyyy-MM-dd''T''HH:mm')}"
                                class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">
                                <img width="20" height="20" src="https://img.icons8.com/fluency/48/pencil-tip.png"
                                 alt="pencil-tip"/>
                            Editar
                        </button>
                        <button type="submit" class="btn btn-success">
                            Salvar
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                    </form>
                    </div>
                    </div>
                </div>
                </div>
                </tr>
                </tbody>
            </table>

            <div class="row mt-4">
                <div class="offset-sm-4 col-sm-4 d-grid mb-2">
                    <a class="btn btn-primary" th:href="@{/tarefas/create/{id}(id=${project.id})}">
                        <img width="20" height="20" src="https://img.icons8.com/color/48/add--v1.png"
                             alt="add--v1"/> New Task
                    </a>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-secondary" th:href="@{/projects}">
                        <img width="20" height="20" src="https://img.icons8.com/color/48/back--v1.png"
                             alt="back--v1"/> Back to Projects
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

<footer class="border-top bg-light text-muted text-center mt-4">
    <div class="container pb-4 pt-3">
        &copy; [[${#dates.format(#dates.createNow(), 'yyyy')}]] - My Store
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
